.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%)
}

h1 {
    font-size: 21px;
}

p {
    font-size: 15px;
}

.qr-code-text {
    text-align: center;
    margin: 0 10px 10px;
}

.qr-code-text p {
    color: hsl(220, 15%, 55%);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.qr-code-container {
    display: flex;
    flex-direction: column;
    width: 270px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 10px 15px hsl(231, 11%, 75%);
}

.qr-code-img {
    max-width: 100%;
    border-radius: 10px;
    margin: 0 0 10px;
}